<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <h1 class="navbar-title">Creativity Market</h1>
            <ul class="navbar-menu">
                <li><a href="#">Categories</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <input type="text" class="search-bar" placeholder="Search the store">
            <button class="search-button">🔍</button>
        </div>
    </nav>
    <h2 class="featured-label">Featured Items</h2>
    <div class="bannerContainer">
        <button class="nav-button nav-left">
            <img src="../static/images/left.webp"   alt="Previous" class="nav-button-image">
        </button>
        <div class="banner">
            <div class="diagonal-stripe">
                <img src="../static/images/apple.png" alt="Stripe 1" class="stripe-image">
            </div>
            <div class="diagonal-stripe">
                <img src="../static/images/banana.png" alt="Stripe 2" class="stripe-image">
            </div>
            <div class="diagonal-stripe">
                <img src="../static/images/orange.webp" alt="Stripe 3" class="stripe-image">
            </div>
            <div class="diagonal-stripe">
                <img src="../static/images/pear.png" alt="Stripe 4" class="stripe-image">
            </div>
            <div class="diagonal-stripe">
            </div>
        </div>
        <button class="nav-button nav-right">
            <img src="../static/images/right.webp"  alt="Next" class="nav-button-image">
        </button>
    </div>
</body>
</html>
